.about{
    display: flex;
    flex-direction: column;
}

.upper{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    gap: 30px;
}

.lower img{
    height: 60vh;
    width: 47%;
}

.lower{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    gap: 30px;
}

.upper img{
    height: 60vh;
    width: 47%;
}

.about p{
    font-family: poppins;
    font-size: 20px;
}

.about li{
    font-family: poppins;
    font-size: 20px;
    list-style: none;
    margin-bottom: 20px;
}

.about hr{
    background: #707070;
    width: 95%;
}