.item1{
    width: 350px;
    margin-top: 30px;
}

.item1 p{
    margin: 6px 0px;
}

.item1:hover{
    transform: scale(1.05);
    transition: 0.6s;
}

#images{
    height: 40svh;
    width: 300px;
}

button{
    width: 200px;
    height: 50px;
    border-radius: 35px;
    background: none;
    border: 2px solid #707070;
    font-size: 22px;
    font-weight: 500;
    position: relative;
    left: 50px;
    top: 8px;
}

button:active{
    background: #f3f3f3;
    color: #707070;
    
}

.title{
    background-color: red;
}