.listproduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 740px;
    padding: 10px 50px;
    margin: 30px;
    border-radius: 6px;
    background: white;
}

.listproduct-format-main {
    display: grid;
    grid-template-columns: 3fr 3fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    padding: 20px 0px;
    color: #454545;
    font-size: 15px;
    font-weight: 600;
}

.listproduct-format img {
    height: 25px;
    cursor: pointer;
    position: relative;
    bottom: 15px;
    left: 15px;
}

.listproduct-format {
    align-items: center;
    font-weight: 500;
}

.listproduct-allproducts {
    overflow-y: auto;
}

@media(max-width:800px) {
    .listproduct {
        box-sizing: border-box;
        width: 95%;
        height: 100%;
        margin: 20px auto;
    }

    .listproduct-format-main {
        padding: 15px 0px;
        color: #454545;
        font-size: 10px;
    }
}